<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
        <title>UNIVERSITY WEBSITE</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="astyles.css">
    </head>
    <body>
        <section class="sub-header">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>ABOUT US</h1>
        </section>

        <section class="about-us">
            <div class="row">
                <div class="about-col">
                    <h1>Weather Teller</h1>
                    <p>
                        We have made this website to assist farmers to protect their crops from different weather conditions.
                        <br>

                        We help farmers by updating them about the upcoming weather which help them to stay alert.
                    </p>

                </div>
                <div class="about-col">
                    <img src="/images/kisaan.jpg" >

                </div>



            </div>

            <br>
            <br>
            <br>
            <br>
            <div class="technology">

                <p>This website is made with HTML,CSS,Javascript,Bootstrap and some images from google images as well as unsplash.com</p>
            </div>

        </section>

    </body>

</html>
